################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WcfWebServiceExample/bin/Debug
/WcfWebServiceExample/obj/Debug
/WcfWebServiceExample/bin
/packages/System.ServiceModel.Primitives.4.7.0
